.hero-white {
  height: $nav-height / 2;
  width: 100%;
  background-color: $white;
}

// For all hero images
.hero-image {
  position: relative;

  img {
    width: 100%;
  }

  header {
    max-width: 1170px;
    @include span(11);
    padding-left: span(1);
    position: absolute;

    h1 {
      font-size: 3.2rem;
      font-weight: 400;
      text-align: left;

      strong {
        font-weight: 800;
      }
    }

    p {
      font-size: 1.2rem;
      max-width: 760px;
      line-height: 2;
    }
  }
}


// For all hero images EXCEPT Home
.hero {
  padding-bottom: 35px;
  // margin-top: $nav-height / 2;
  height: 500px;
  background-color: $brand-tertiary;
  color: $white;

  a {
    color: $white;
  }

  .hero-image {
    @include span(12);

    img {
      margin-top: $nav-height + 110px;
      box-shadow: 0px 0px 10px 0px $thunder;
    }

    header {
      top: 200px;
    }
  }
}

// For ONLY Home hero

.index {

  .hero-white {
    display: none;
  }

  .home-hero {
    padding-bottom: 35px;
    color: $white;

    a {
      color: $white;
    }

    .hero-image {
      width: 100%;
      margin: 0;

      header {
        margin-left: span(.23);
        top: 340px;
        @media only screen and (max-width: 700px) {
          top: 235px;
          margin-left: 0;
          float: none;
          position: absolute;
          left: 0;
          width: 88%;
          padding-left: 0;
          padding: 0 25px 0 20px;
          h1 {
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}


.herollax1 { background: url(/images/bg1.jpg) no-repeat top center fixed; }
.herollax2 { background: url(/images/bg2.jpg) no-repeat top center fixed; }
.herollax3 { background: url(/images/bg3.jpg) no-repeat top center fixed; }
.herollax4 { background: url(/images/bg4.jpg) no-repeat top center fixed; }
.herollax5 { background: url(/images/bg5.jpg) no-repeat top center fixed; }
.herollax6 { background: url(/images/bg6.jpg) no-repeat top center fixed; }
.herollax7 { background: url(/images/bg7.jpg) no-repeat top center fixed; }
.herollax8 { background: url(/images/bg8.jpg) no-repeat top center fixed; }

// Homepage ONLY
.home-hero {
  .hero-image {
    .herollax {
    height: 800px;
    background-size: cover;
    }
  }
}

// All pages EXCEPT homepage
.hero {
  .hero-image {
    box-shadow: 0px 0px 10px 0px $thunder;
    height: $nav-height + 555px;
    margin-top: -55px;

    .herollax {
      background-size: 1170px auto;
      height: $nav-height + 555px;
    }
  }
}
//Start of Responsive code//
  @media only screen and (max-width: 700px) {
    .hero header{
      width: auto;
      float: none;
      padding-left: 0;
      margin-left: 0;
      padding: 0 20px;
      h1{
        font-size: 2.6rem;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .hero .hero-image .herollax {
      background-attachment: initial;
    }
  }
//End of Responsive code//
