.testimonial-left, .testimonial-right {
  @include span(4);
  font-family: $font-family-body;
  font-style: italic;
  line-height: 28px;
  font-size: 18px;
  position: relative;

  ::before, ::after {
    content: "\"";
    font-size: 35px;
    color: #df7c2e;
    position: absolute;
  }
}

.testimonial-left {
  padding-left: span(1);

  p {
    margin-left: 20px;
  }

  ::before {
    margin-left: -25px;
  }

  ::after {
    line-height: 0;
    margin-top: 15px;
  }
}

.testimonial-right {
  padding-right: span(1 wide);
  float: right;
  text-align: right;

  p {
    margin-right: 20px;
  }

  ::before {
    left: -10px;
    top: 5px;
    position: relative;
  }

  ::after {
    line-height: 0;
    bottom: 30px;
  }
}
//Start of Responsive code// 
  @media only screen and (max-width: 700px) { 
    .testimonial-left{
      width: span(10);
      display: block !important;
    }
    .testimonial-right{
      clear: both;
      float: left;
      text-align: left;
      @include span(10);
      padding-left: span(1 wide);
      padding-right: 0px;
    }
  }
//End of Responsive code for MOBILE//
