---
layout: layout-homes
title: Highridge | 527 Middleton Close
headline: 527 Middleton Close
subhead: Beautifully designed custom-built craftsman-style home
bg: customhomes
photo_list:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
---

<%= partial "partials/custom_home_page", locals: {
    address: "527 Middleton Close",
    details: "
    This custom home was built on Middleton Mountain's most sought-after neighbourhood, and in an exclusive cul-de-sac location. Executive-calibre interior finish meets family functionality, including out-sized island/breakfast bar and granite kitchen countertops, stone fireplace/hearth, premium appliance package, zoned sound system, hardwood floors, and ceramic tile.
    <p>
    6 Bedrooms 3 Bathrooms, a spacious Master Bedroom with 5-piece luxury ensuite, and walk-in closet. 23ft family/playroom downstairs, generous mudroom and access to the oversized garage. Out front, ample RV/Boat parking plus RV hookup. At the back, a 27ft covered patio with natural gas bbq/connection and large fenced yard for the kids.
    <p>
    It doesnt get much better than this! Stunning sunrises over the valley, hockey nets, training wheels and a beautiful, welcoming home.
    ",
    bedrooms: "6",
    bathrooms: "3",
    floorspace: "2,950 sq/ft",
    landsize: "0.246 acre",
    view: "Mountain and Valley",
    button_text: "This home is no longer available for viewing",
    listinglink: "",
    maplink: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2551.5268611706438!2d-119.26116088427602!3d50.244743479447465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537dd924a850dedf%3A0x30416f7a07552b1b!2s527+Middleton+Way%2C+Vernon%2C+BC+V1B+3Z2!5e0!3m2!1sen!2sca!4v1511062055664"
} %>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>
