---
layout: layout-homes
title: Highridge | Mt. Ida Crescent
headline: Mt. Ida Crescent
subhead:
bg: customhomes
photo_list:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
---

<%= partial "partials/custom_home_page", locals: {
    address: "Mt. Ida Crescent",
    details: "
    New level-entry Highridge Showhome with spectacular views down the Coldstream Valley. Large private yard ideal for swimming pool, premium finishing throughout, RV parking area next to garage.
    <p>
    Large private yard, dedicated pool equipment room, cedar soffits, butlers pantry, custom tiled showering ensuite, 10' ceilings in lower level, dedicated theatre/workout room, extra bathroom for pool area, premium finishings, and RV Parking area!
    ",
    bedrooms: "5",
    bathrooms: "3",
    floorspace: "4,080 sq/ft",
    landsize: "0.24 acre",
    view: "Valley View",
    button_text: "This home is no longer available for viewing",
    listinglink: "",
    maplink: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2552.115838979423!2d-119.24869378427655!3d50.2337407794461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537dd94730e63109%3A0x8003bd18df74af15!2s576-580+Mt+Ida+Dr%2C+Coldstream%2C+BC+V1B+4A8!5e0!3m2!1sen!2sca!4v1548100175265"
} %>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>
