---
title: Highridge | 8742 Braeburn Place
headline: 8742 Braeburn Place
subhead: This house is the best
bg: herollax2
photo_list:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
---

<%= partial "partials/custom_home_page", locals: {
    address: "8742 Braeburn Place",
    details: "Qui et sequi eos itaque qui numquam et magnam dolor et dolorum necessitatibus ipsum accusantium. Maiores tenetur earum ducimus necessitatibus omnis.<p> Sint odio distinctio possimus dolores corporis sed. Error rerum necessitatibus qui eaque cumque deserunt sunt. Veniam ea quas ut ipsam minima quia beatae<p> another paragraph?  <p> sure, why not </p>",
    bedrooms: "3",
    bathrooms: "2",
    floorspace: "400sq/ft",
    landsize: "3acres",
    view: "Lake View",
    listinglink: "#",
    maplink: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10199.931934879507!2d-119.27124701476387!3d50.27357633128986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87ced25ec2413ffd!2sHighridge+Homes+Ltd!5e0!3m2!1sen!2sca!4v1498855791521"
} %>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>
