---
layout: layout-homes
title: Highridge | Mt. Moore Place
headline: Mt. Moore Place
subhead: Come park your toys!
bg: customhomes
photo_list:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
---

<%= partial "partials/custom_home_page", locals: {
    address: "Mt. Moore Place",
    details: "
    Unobstructed Coldstream Valley views greet you from the moment you walk into this level-entry craftsman style rancher. Fabulous open-concept main floor living is flooded with light from the huge windows, and grounded by a dramatic stone fireplace feature. Rustic hardwood floors, granite counters and custom millwork are accented by the premium lighting fixtures, including a tray-lit ceiling.
    <p>
    Large, covered decks up and down take full advantage of the natural outdoor beauty. Featuring Hardie-plank siding and cedar soffits with recessed lighting, these patio spaces are equally as luxurious as indoors. The yard features a lush, flat lawn which has been fully landscaped and irrigated.
    <p>
    High-end detailing is shown off in every corner of the house. The spa-like ensuite features a spacious walk-in closet as well as large glass shower doors, soaker tub, double sinks and separate WC. Double garage and dedicated RV storage offers space for all your toys.
    ",
    bedrooms: "4 + Office",
    bathrooms: "3",
    floorspace: "3,625 sq/ft",
    landsize: "0.28 acre",
    view: "Coldsteam Valley",
    button_text: "This home is no longer available for viewing",
    listinglink: "",
    maplink: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2552.102853543758!2d-119.24794378427652!3d50.23398337944614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537dd940d6ebaacf%3A0xed922e6d7a369281!2sMount+Moore+Pl%2C+Coldstream%2C+BC+V1B+4A8!5e0!3m2!1sen!2sca!4v1511467432835"
} %>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>

