---
layout: layout-homes
title: Highridge | Mt. Tanner Place
headline: Mt. Tanner Place
subhead:
bg: customhomes
photo_list:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
---

<%= partial "partials/custom_home_page", locals: {
    address: "Mt. Tanner Place",
    details: "
    This former showhome takes full advantage of premium Kalamalka Lake views. Custom windows maximize the natural light in the open-plan living, dining and kitchen. The indoor-outdoor flow is effortless to the 2 covered patios and serene back yard oasis. Contemporary craftsman styling is evident from the exterior hardie-board siding to the recessed ceilings and glass-front cabinetry.
    <p>
    4 spacious bedrooms plus a bright office, this large level-entry rancher is sure to impress. Premium quality features are everywhere, including granite counters, custom millwork, stone features and wrought-iron railings. The master ensuite is nothing short of luxurious, with a massive glass shower, soaker tub, double sinks and separate WC. Second full bathroom is also ground level, and the downstairs bathroom has convenient access to the pool.
    <p>
    Zone heating keeps every room in the house comfortable in every season. Beside the double garage with engineered floors is designated RV parking. Unfinished 585 sq. ft. below the garage for you to bring your ideas. Enjoy the oversized lot with in-ground pool, sleek patio and lush garden. All landscaping has been finished with modern precision.
    ",
    bedrooms: "4 + Office",
    bathrooms: "3",
    floorspace: "3,165 sq/ft",
    landsize: "0.25 acre",
    view: "Kalamalka Lake and Mountains",
    button_text: "This home is no longer available for viewing",
    listinglink: "",
    maplink: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2552.0727770436406!2d-119.25066148427648!3d50.23454527944623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537dd94738eb82af%3A0x9c21027732176120!2sMount+Tanner+Pl%2C+Coldstream%2C+BC!5e0!3m2!1sen!2sca!4v1511467212878"
} %>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>
