html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
}

.clearfix {
  @include susy-clearfix;
}

.section-left {
  @include span(5);
  padding-left: span(1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
//Start of Responsive code//
  @media only screen and (max-width: 700px) {  
    .section-left{
      width: span(10);
      clear: both;
      position: relative;
    }
  }
//End of Responsive code//
