.header-container {
  overflow-x: hidden;
}
.nav-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav-container {
    @include span(12);
    background-color: $white;
    height: $nav-height;

    .logo-link:hover {
      opacity: 1;
    }

    .site-logo {
      background-color: $brand-secondary;
      float: left;
      padding: 30px;
      position: absolute;
      top:0;
      width: 186px;
    }

    .site-logo-colour {
      float: left;
      padding: 23px 30px 30px;
      position: absolute;
      top:0;
      width: 100px;
    }

    .nav-right {
      margin-right: 20px;

      .contact {
        @include span(12);
        color: $thunder;
        font-family: $font-family-heading;
        padding-top: 15px;
        color: $thunder;
        text-align: right;
        font-size: 15px;
        font-weight: 500;
        text-transform: none;

        .phone {
          color: $thunder;
          font-weight: 800;
          text-decoration: none;
          border-bottom: none;
          margin-left: 5px;
        }

        .social {
          float: right;
          height: 20px;
          padding-left: 15px;
        }

        .login{
          float: right;
          margin-left: 15px;
          border-bottom: none;

        }
      }

      nav {
        @include span(12);

        ul {
          float: right;
          margin-top: 25px;
        }

        a {
          color: $brand-secondary;
          text-transform: uppercase;
          word-spacing: 3px;
          font-size: 15px;
          text-align: right;
          font-weight: 500;
          margin: 30px 20px 0px 20px;
          border-bottom: none;

          &:hover {
            @include orange-underline;
          }

          &[aria-current]:not([aria-current="false"]) {
            color: #847373;
            @include orange-underline;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
//Start of Responsive code//
  @media only screen and (max-width: 1075px) {
    .main_nav {
      display: none;
    }
  }
@media only screen and (min-width: 676px) {
  .site-logo-colour {
      display: none;
    }
}
  @media only screen and (max-width: 675px) {
    .site-logo {
      display: none;
    }
    .site-logo-colour {
      display: block;
    }
    .nav-right {
      display: none;
    }
  }
//End of Responsice code//
