.page-footer {
  background-color: $brand-secondary;
  height: 210px;
  bottom: 0;
  clear: both;
  width: 100%;

  .container {

    .footer-content {
      @include span(12);
      padding-top: 55px;

      .footer-logo {
        @include span(2);
        margin-left: 0;

        .site-logo {
          width: 125px;
          float: left;
        }
      }

      .column {
        @include span(2);

        a {
          float: left;
          padding: 0.5rem;
          color: white;
          font-size: 14px;
          border-bottom: none;
        }
      }

     .login a {
        color: $white;
        border: 1px solid $white;
        float: right;
        font-size: 11px;
        margin: 1rem 0rem 0rem 0rem;
        outline: none;
        padding: 0.5rem;
      }
    }
  }
}
