.nav-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav-container {
    @include span(12);
    background-color: $white;
    height: $nav-height;

    .logo-link:hover {
      opacity: 1;
    }

    .site-logo {
      background-color: $brand-secondary;
      float: left;
      padding: 30px;
      position: absolute;
      top:0;
      width: 186px;
    }

    .nav-right {
      margin-right: 15px;

      .contact {
        @include span(12);
        color: $thunder;
        font-family: $font-family-heading;
        padding-top: 15px;
        color: $thunder;
        text-align: right;
        font-size: 15px;
        font-weight: 500;
        text-transform: none;

        .phone {
          color: $thunder;
          font-weight: 800;
          text-decoration: none;
        }

        .social {
          float: right;
          height: 20px;
          padding-left: 15px;
        }
      }

      nav {
        @include span(12);

        ul {
          float: right;
          margin-top: 25px;
        }

        a {
          font-family: $font-family-heading;
          color: $brand-secondary;
          text-transform: uppercase;
          word-spacing: 3px;
          font-size: 15px;
          text-align: right;
          font-weight: 500;
          margin: 30px 20px 0px 20px;

          &:last-child {
            margin-right: 0px;
          }

          &:hover, &:active {
            opacity: .7;
          }
        }
      }
    }
  }
}
