.custom-homes {

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
//End of Responsive code//

  @media only screen and (max-width: 750px) { 
    .content-wrapper{
      display: block !important;
    }
    .section-left{
      width: auto;
      padding-bottom: 1rem !important;
    }  
    .custom-homes .testimonial-right{
      width: auto;
      display: block;
      float: none;
      padding: 0 20px;
      margin-bottom: 4rem;
      text-align: center;
    }
  }
//End of Responsive code//
