.custom-homes {

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
//End of Responsive code//

  @media only screen and (max-width: 750px) { 
    .content-wrapper{
      display: block !important;
    }
    .section-left{
      width: span(10) !important;
      padding-bottom: 1rem !important;
    }  
    .testimonial-right{
      width: span(10) !important;
      margin-bottom: 4rem;
      text-align: left;
    }
  }
//End of Responsive code//
