.index {

  .lines {
    opacity: 0.5;
    position: absolute;
    padding-left: 8px;
    margin: 0;

    .line1{
      border-right : solid 2px $white;
      width: 100px;
      height: 20px;
      margin-top: -55px;
    }

    .line2 {
      height: 40px;
      width: 100px;
      border-right: solid 2px $brand-secondary;
    }

    .line3 {
      border-right: solid 2px transparent;
      height: 254px;
    }

    .line4 {
      border-right: solid 2px $brand-secondary;
      height: 60px;
      width: 100px
    }

    .line5 {
      border-top: solid 2px $brand-secondary;
      height: 2px;
      width: 102px;
    }

    .line6 {
      border-left: solid 2px $brand-secondary;
      height: 93px;
      width: 2px;
      margin-top: -2px;
    }

    .line7 {
      border-left: solid 2px $white;
      width: 2px;
      height: 20px;
    }

    .line8 {
      border-left: solid 2px transparent;
      width: 2px;
      height: 340px;
    }

    .line9 {
      border-left: solid 2px $white;
      height: 20px;
      width: 2px;
    }

    .line10 {
      border-left: solid 2px $brand-secondary;
      height: 60px;
      width: 2px;
    }

    .line11 {
      border-top: solid 2px $brand-secondary;
      width: 602px;
      height: 2px;
    }

    .line12 {
      border-right: solid 2px $brand-secondary;
      width: 600px;
      height: 50px;
      margin-top: -2px;
    }
  }

  .page-content {
    .home-hero {
      p {
        a {
          margin-left: .5rem;
          font-weight: 400;
          font-size: 1rem;
          @include white-underline;
        }
      }
    }
  }

  .intro-section {
    display: flex;
    padding-bottom: $nav-height;

    .intro {
      @include span(7);
      padding-left: span(1);
    }

    .intro-cta {
      @include span(2);
      padding-left: span(1 wide);
      align-self: flex-end;

      p {
        font-family: $font-family-heading;
        font-weight: 500;
        color: $white;
        background: #e37c1c;
        padding: 1em;

        a {
          color: $white;
          @include white-underline;
        }
      }
    }
  }

  .cta-section {
    padding: 0;
    height: 380px;

    .cta-content {
      @include span(4 first);
      margin-top: 15px;

      .custom-home-button {
        @include span(3 of 4 first);
        margin-top: 20px;
        background: $white;
        text-align: center;

        a {
          color: $brand-primary;
        }
      }
    }

    .cta-cards {
      position: relative;
      top: -20px;

      .home-card {
        margin-bottom: 0;
        width: span(4);

        .availability {
          display: none;
        }

        .details {
          background: $white;
          color: $thunder;
          padding-left: 0;
          margin-bottom: 0;
          width: 100%;

          > * {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .outro {
    padding: 3rem 0rem;
  }

  .contact-cta {
    @include span(4);
    padding-left: span(1 wide);

    .call-us {
      font-family: $font-family-heading;
      font-weight: 500;
    }
  }

  .page-footer {
    margin-top: 2rem;
  }
}
//Start of Responsiive code//
  @media only screen and (max-width: 1250px) {
    .lines {
      margin-left: 20px !important;
    }
  }
  @media only screen and (max-width: 1200px) {
    .lines {
      margin-left: 30px !important;
    }
  }
  @media only screen and (max-width: 1150px) {
    .lines {
      margin-left: 40px !important;
    }
  }
  @media only screen and (max-width: 1143px) {
    .lines {
      margin-left: 90px !important; 
      .line3 {
        height: 281px !important;
      }
    }
  }
  @media only screen and (max-width: 1075px) {
    .lines {
      }
      .line10 {
        height: 90px !important;
      }
    }
  @media only screen and (max-width: 1000px) {
    .lines {
      display: none;
    }
  }
@media only screen and (max-width: 1250px) {
  .cta-card2 {
      display: none;
    }
  .cta-content {
      padding-left: 20px;
    }
}
@media only screen and (max-width: 1200px) {
  .cta-content {
      padding-left: 40px;
    }
}
  @media only screen and (max-width: 1143px) {
    .cta-content {
      padding-left: 95px;
    }
  }
  @media only screen and (max-width: 900px) {
    .outro {
      .testimonial-left {
        width: 70%;
      }
      .contact-cta {
        width: 70%;
      }
      .contact-cta {
        clear: both;
      }
    }
  }
  @media only screen and (max-width: 899px) {
    .intro-section {
      float: none;
      .intro {
        float: none !important;
        width: span(11) !important;
      }
      .intro-cta {
        width: span(5) !important;
      }
    }
    .cta-section {
      .cta-content {
        padding-left: span(2);
        width: span(8) !important;
        .custom-home-button{
          padding: 5px;
        }
        .custom-home-button {
          width: 100% !important;
        }
      }
    }
    .cta-card1 {
      display: none;}
  }
//End of Responsive code//
