.index {
  .lines-1 {
    left: 108px;
  }
  .lines-2 {
    bottom: -83px;
  }
  .lines-3 {
    top: -62px;
    width: 51%;
  }
  .lines {
    opacity: 0.5;
    position: absolute;
    padding-left: 8px;
    margin: 0;
    .line1{
      width: 2px;
      background: #330000;
      height: 128px;
      margin-top: -140px;
    }
    .line4 {
      border-right: solid 2px $brand-secondary;
      height: 60px;
      width: 100px
    }
    .line5 {
      border-top: solid 2px $brand-secondary;
      height: 2px;
      width: 102px;
    }
    .line6 {
      border-left: solid 2px $brand-secondary;
      height: 93px;
      width: 2px;
      margin-top: -2px;
    }
    .line10 {
      border-left: solid 2px $brand-secondary;
      height: 72px;
      width: 2px;
    }
    .line11 {
      border-top: solid 2px $brand-secondary;
      width: 100%;
      height: 2px;
    }
    .line12 {
      border-right: solid 2px $brand-secondary;
      width: 100%;
      height: 68px;
      margin-left: -2px;
      margin-top: -2px;
    }
  }

  .page-content {
    .home-hero {
      p {
        a {
          margin-left: .5rem;
          font-weight: 400;
          font-size: 1rem;
          @include white-underline;
        }
      }
    }
  }

  .intro-section {
    display: flex;
    padding-bottom: 80px;
    padding-top: 60px;
    position: relative;
    .intro {
      @include span(7);
      padding-left: span(1);
      h2 {
        padding-left: 8px;
      }
      p {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        padding-left: 8px;
      }
    }

    .intro-cta {
      @include span(2);
      padding-left: span(1 wide);
      align-self: flex-end;

      p {
        font-family: $font-family-heading;
        font-weight: 500;
        color: $white;
        background: #e37c1c;
        padding: 1em;

        a {
          color: $white;
          @include white-underline;
        }
      }
    }
  }
  .get-in-touch {
    position: relative;
  }
  .cta-section {
    padding: 0;
    height: 400px;

    .cta-content {
      @include span(4 first);
      margin-top: 34px;

      .custom-home-button {
        @include span(3 of 4 first);
        margin-top: 20px;
        background: $white;
        text-align: center;

        a {
          color: $brand-primary;
        }
      }
    }

    .cta-cards {
      position: relative;
      top: -20px;

      .home-card {
        margin-bottom: 0;
        width: span(4);

        .availability {
          display: none;
        }

        .details {
          background: $white;
          color: $thunder;
          padding-left: 0;
          margin-bottom: 0;
          width: 100%;
          padding-bottom: 5px;
          h3 {
            margin-top: 16px;
          }
          > * {
            padding-left: 14px;
            padding-right: 14px;
          }
        }
      }
    }
  }

  .outro {
    padding: 5rem 0rem 2rem;
    content: "";
    display: table;
    clear: both;
    @media only screen and (max-width: 899px) {
      padding-top: 50px;
    }
  }

  .contact-cta {
    @include span(4);
    padding-left: span(1 wide);

    .call-us {
      font-family: $font-family-heading;
      font-weight: 500;
    }
  }

  .page-footer {
    margin-top: 2rem;
  }
}
//Start of Responsiive code//
  @media only screen and (max-width: 1250px) {
    .lines {
      margin-left: 20px !important;
    }
  }
  @media only screen and (max-width: 1200px) {
    .lines {
      margin-left: 30px !important;
    }
  }
  @media only screen and (max-width: 1150px) {
    .lines {
      margin-left: 40px !important;
    }
  }
  @media only screen and (max-width: 1143px) {
    .lines {
      margin-left: 90px !important; 
      .line3 {
        height: 281px !important;
      }
    }
  }
  @media only screen and (max-width: 1075px) {
    .lines {
      }
      .line10 {
        height: 90px !important;
      }
    }
  @media only screen and (max-width: 1000px) {
    .lines {
      display: none;
    }
  }
@media only screen and (max-width: 1250px) {
  .cta-content {
      padding-left: 20px;
    }
  .cta-card2 {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .cta-content {
      padding-left: 40px;
    }
}
  @media only screen and (max-width: 1143px) {
    .cta-content {
      padding-left: 95px;
    }
  }
  @media only screen and (max-width: 900px) {
    .outro {
      .testimonial-left {
        width: auto;
        float: none;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
      }
      .contact-cta {
        clear: both;
        text-align: center;
        width: auto;
        padding: 0 20px;
        float: none;
        margin-left: 0;
        margin-top: 50px;
      }
      .contact-cta {
        clear: both;
      }
    }
  }
  @media only screen and (max-width: 899px) {
    .index{
      .intro-section {
        float: none;
        padding-bottom: 10px;
        display: block;
        padding-top: 0;
        .intro {
          float: none;
          width: auto;
          margin-left: 0;
          padding: 0 20px;
        }
        .intro-cta {
          float: none;
          width: 50%;
          margin-left: 0;
          padding-left: 20px;
          margin-top: 40px;
        }
      }  
      .cta-section {
        height: auto;
        .cta-content {
          padding-left: 20px;
          width: span(8) !important;
          float: none;
          margin-bottom: 58px;
          margin-top: 45px;
          .custom-home-button{
            padding: 5px;
            float: none;
          }
          .custom-home-button {
            width: 100% !important;
          }

        }
        .cta-cards {
          top: auto;
          .home-card {
            margin-bottom: 0;
            width: 100%;
            float: none;
            background: #fff;
            max-width: 450px;
            margin: 0 auto 20px;
            .card-image {
              height: auto;
              img {
                max-height: 100%;
              }
            }
            .details {
              float: none;
            }
          }
        }
      }
    } 
  }

//End of Responsive code//
