.process-sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  iframe {
    max-width: 100%;
    min-height: 280px;
    height: auto;
  }
}

// The next weird code is to make the iframe responsive
.process-video {
  @include span(12);
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 700px) { 
    float: none;
    padding-left: 0;
    width: auto;
  }
}

.process-sec2 {
  margin-top: 2rem;

  .sec2-a {
    @include span(9);
    padding-left: span(1);
    padding-top: 50px;
    h2 {
      @include span(2 of 9 wide first);
      margin-top: 2rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 700px) { 
        float: none;
        padding-left: 0;
        width: auto;
      }
    }

    p {
      @include span(5 of 9);
      padding-left: span(1 wide);
      margin-top: 2rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 700px) { 
        float: none;
        padding-left: 0;
        width: auto;
        margin-left: 0;
      }
      &:after {
        clear: both;
      }
    }
    @media only screen and (max-width: 700px) { 
      float: none;
      padding-left: 0;
      width: auto;
      margin-left: 0;
      padding: 0px 20px;
    }
  }

  .sec2-b {
    @include span(12);

    .warins {
      @include span(4);

      a {
        border-bottom: none;
      }
      @media only screen and (max-width: 700px) { 
        float: none;
        padding-left: 0;
        width: auto;
      }
    }

    .warranty {
      padding-left: span(1);
      @media only screen and (max-width: 700px) { 
        padding-left: 0;
        margin-left: 0;
      }
    }

    .insurance {
      padding-left: span(1 wide);
      @media only screen and (max-width: 700px) { 
        padding-left: 0;
        margin-left: 0;
      }
    }
     @media only screen and (max-width: 700px) { 
      float: none;
      padding-left: 0;
      width: auto;
      padding: 0 20px;
    }
  }

  .sec2-c {
    padding-top: 5rem;

    .sec2-c-right {
      @include span(5);
      padding-top: 3rem;

      h2 {
        margin-top: 0;
      }
      @media only screen and (max-width: 700px) { 
        float: none;
        padding-left: 0;
        width: auto;
        margin-left: 0;
        padding: 20px 20px 0;
      }
    }
    @media only screen and (max-width: 700px) { 
      float: none;
      padding-left: 0;
      width: auto;
    }
  }
}
//Start of Responsive code//

  @media only screen and (max-width: 700px) { 
    .the-process {
      .process-sec1 {
        .section-left {
          padding: 10px 0;
        }
      }
      .testimonial-right {
        text-align: center;
        margin-bottom: 40px;
      }
    }
    .process-sec1 {
      display: block;
      width: auto;
      padding: 0 20px;
    }
  }
//End of Responsive code//
