<div class="clearfix"></div>
<div class="cta-section">
  <div class="container">
    <div class="cta-heading">
      <h2>Think we can help?</h2>
    </div>
    <div class="cta-subheading">
      <p><span>Meet with us for a free consultation and find out how</span> <span>we can help you make your dream home a reality</span></p>
    </div>
    <div class="cta-contact">
      <p>Give us a call at<br><%= link_to '1-250-558-3339', 'tel:1-250-558-3339', :class => 'underline' %></p>
    </div>
  </div>
</div>
