<div class="hero-white"></div>
<div class="hero">
  <div class="container">
    <div class="hero-image">
      <div class="herollax" style="background: url(hero.jpg) no-repeat top center fixed;"(></div>
      <header>
        <h1><%= current_page.data.headline %></h1>
        <p><%= current_page.data.subhead %></p>
      </header>
    </div>
  </div>
</div>
<div class="clearfix"></div>
