<div class="home-hero">
  <!-- <div class="container"> -->
    <div class="hero-image">
      <img src="<%= current_page.data.bg %>" class="hero-bg">
      <header>
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.subtitle %></p>
      </header>
    </div>
  <!-- </div> -->
</div>
<div class="clearfix"></div>
