<div class="home-hero">
  <div class="hero-image">
    <div class="<%= current_page.data.bg %> herollax"></div>
    <div class="container">
      <header>
        <h1><%= current_page.data.headline %></h1>
        <p><%= current_page.data.subtitle %></p>
      </header>
    </div>
  </div>
</div>
<div class="clearfix"></div>
