<div >
  <div class="in-house-details">
    <h2>In House Design</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adupicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  </div>
</div>

<div >
  <div class="in-house-details">
    <h2>In House Drafting</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adupicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  </div>
</div>

<div >
  <div class="in-house-details">
    <h2>In House After-Sales Service</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adupicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  </div>
</div>

