<div class="map">
  <script>
    function init Map () {
      var uluru = {lat: 50.2737409, lng:-119.2665907};
      var map = new google.maps.Map(document.getElementByID('map'), {
        zoom:17,
        center: uluru
      });
      var maker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
          scr="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV7lpgZHE2wk-vEyOrCOE1zrtcK3HinmY&callback=initMap">
  </script>
</div>
