<div class="container">
   <% content_tag(:div, class: "team-member") do %>
      <div class="team-image">
        <%= image_tag image %>
      </div>
    <div class="details">
      <h3><%= title %></h3>
      <p><%= excerpt %>
    </div>
  <% end %>
</div>
