<div class="warranty">
  <% link_to '/', :class => 'warranty-link' do %>
    <%= image_tag '2_5_10_logo.jpg', :class => 'warranty-logo' %>
  <% end %>
    <p><%= lorem.sentences 2 %></p>
</div>

<div class="warranty">
  <% link_to '/', :class => 'warranty-link' do %>
    <%= image_tag 'TravelersInsurance.jpg', :class => 'warranty-logo' %>
  <% end %>
    <p><%= lorem.sentences 2 %></p>
</div>
