$zest:          hsl(29, 78%, 50%);
$nepal:         hsl(199, 31%, 66%);
$thunder:       hsl(300, 1%, 20%);
$temptress:     hsl(360, 100%, 10%);

$grey:          hsl(0, 0%, 92%);
$white:         hsl(0, 0%, 100%);

$brand-primary: $zest;
$brand-secondary: $temptress;
$brand-tertiary: $nepal;

$color-body: $thunder;


$font-family-body: 'Open Sans', sans-serif;
$font-family-heading: 'Montserrat', sans-serif;


$site-width: 1170px;
$nav-height: 110px;

// Susy settings
$susy: (
  columns: 12,
  gutters: 30px/70px,
  math: fluid,
  output: float,
  gutter-position: before,
);
