---
title: Highridge|Available Lots
headline: <strong>Available</strong> Lots
subhead: Breathtaking views and extensive lots are the perfect addition to Coldstream’s premier neighbourhood.
bg: herollax4
---

<div class="container">
  <div class="intro-section">
    <div class="section-left">
      <h2>Oversized lots with <br>inspiring views</h2>
      <p>Middleton Mountain boasts world-famous views, and HighRidge Homes take full advantage of this remarkable scenery . The dazzling hues of Kalamalka Lake set amongst the peaceful Coldstream Valley provide a majestic backdrop for your custom home. You’ll be proud of your house and your street! Our generously sized lots are carefully divided to ensure maximum privacy and convenience, making the Kalamalka Highlands an amazing place to call home.
      </p>
      <p class="call">
        Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consulation.
      </p>
      <p class="download">
        <%= link_to 'Download <br> Phase 9 Subplan', 'images/phase9-subplan.pdf' %>
      </p>
    </div>
    <div class="testimonial-right">
      <p>We wanted the perfect setting, neighbourhood, and view for our new home!</p>
    </div>
  </div>
  <p class="mla-link">
    <%= link_to 'View Home and Lot inventory', 'http://www.3pr.ca/agent/588/mark-wensley', :class => 'btn primary' %>
  </p>
</div>

<div class="available-map">
  <iframe src="https://www.google.com/maps/d/embed?mid=1egncTe7lwAtORavwSaXUBbPe3KUFZOAZ&ll=50.23304029536309%2C-119.24462374479828&z=16" width="100%" height="725px" frameborder="0" style="border:0" scrolling="no"></iframe>
</div>

  <div class="testimonial-left">
    <p>BuilderTrend was a fantastic way to keep up to date with the progress of our home and changes we wanted to make.</p>
  </div>
  <div class="get-in-touch">
    <h2>Get in touch</h2>
    <p>Call us today to view one of our unique show homes, and see how easy it can be to make your dream house come true!</p>
    <p><strong>Give us a call at</strong> <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %></p>
  </div>
</div>
<div class="clearfix"></div>
