---
title: Highridge|Available Lots
headline: <strong>Available</strong> Lots
subhead: Breathtaking views and extensive lots are the perfect addition to Coldstream’s premier neighbourhood.
bg: herollax4
---

<div class="container">
  <div class="intro-section">
    <div class="section-left">
      <h2>Oversized lots with <br>inspiring views</h2>
      <p>Middleton Mountain boasts world-famous views, and HighRidge Homes take full advantage of this remarkable scenery . The dazzling hues of Kalamalka Lake set amongst the peaceful Coldstream Valley provide a majestic backdrop for your custom home. You’ll be proud of your house and your street! Our generously sized lots are carefully divided to ensure maximum privacy and convenience, making the Kalamalka Highlands an amazing place to call home.
      </p>
      <p class="call">
        Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consulation.
      </p>
      <p class="download">
        Download <br><%= link_to 'subplan', 'images/phase9-subplan.pdf' %>
      </p>
      <p class="mla-link">
        <btn class="btn primary"><%= link_to 'View our complete lot listing', 'http://www.3pr.ca/agent/588/mark-wensley' %></btn>
      </p>
    </div>
    <div class="testimonial-right">
      <p>Thanks to our beautiful home and spectacular view, we are the envy of our friends and family
</p>
    </div>
  </div>

<h1> Insert Google Map with available lots here </h1>

  <div class="testimonial-left">
    <p>HighRidge Homes uses Builder Trend which keeps all communication clear and accurate. We lived out of town so we were very pleased to receive a continual supply of video updates as the building progressed. Quality builders with quality staff resulting in a quality home.</p>
  </div>
  <div class="get-in-touch">
    <h2>Get in touch</h2>
    <p>Call us today to view one of our unique show homes, and see how easy it can be to make your dream house come true!</p>
    <p><strong>Give us a call at</strong> <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %></p>
  </div>
</div>
<div class="clearfix"></div>
