---
title: Highridge|Contact Highridge
headline: <strong>Contact</strong> Highridge
subhead: Subhead about reaching out to us to have us help build your dream home.
bg: herollax2
---

<div class="container">
  <h1>Don't be a stranger</h1>

  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
</div>

<div class="container">
<div class="location">
  <span>
    Highridge homes<br>
    4201 27 st<br>
    Vernon, BC V1t 4Y3<br>
    1-250-558-3339
  </span>
</div>
</div>

<div class="cta-section">
  <div class="container">
    <div class="cta-content">
      <h2>Think we can help?</h2>
      <p>Meet with us for a free consultation and find out how we can help you make your dream home a reality.</p>
          Give us a call at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339', :class => 'phone' %>
    </div>
  </div>
</div>
<!--Insert pin point Google Map here -->
