---
title: Highridge|Custom Homes
headline: <strong>Custom</strong> Homes
subhead: We build some of the best homes in the North Okanagan.
bg: herollax2
---

<div class="container">
  <div class="content-wrapper">
    <div class="section-left">
      <h2>Headline about our <br>range of custom homes</h2>
      <p><%= lorem.sentences 6 %></p>
    </div>
    <div class="testimonial-right">
      <p><%= lorem.sentences 2 %></p>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container">
<%= partial "partials/custom_home_list" %>
</div>

<%= partial "partials/layouts/cta_see" %>
