---
title: Highridge|Custom Homes
headline: <strong>Custom</strong> Homes
subhead: When you build with HighRidge Homes, you will receive quality and service that are beyond your expectations.

bg: herollax2
---

<div class="container">
  <div class="content-wrapper">
    <div class="section-left">
      <h2>We specialize in quality custom homes</h2>
      <p>You’ve been dreaming about this for years, possibly decades, and you are confident in what you want. Magazine clippings, Pinterest boards, or even sketches on napkins – you want a home that is fashionable, functional, and most importantly, you. From the initial “big picture” meeting, to that last-minute ‘stroke of genius’, we are ready to handle every detail with care and attention. HighRidge Homes is here to listen to all your needs every step of the way.
      </p>
    </div>
    <div class="testimonial-right">
      <p>They took my dreams and made them into a reality and I couldn’t be more grateful to the entire HighRidge Homes team for making it all come true.</p>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container">
<%= partial "partials/custom_home_list" %>
</div>

<%= partial "partials/layouts/cta_see" %>
