---
layout: home
title: Beyond your expectations
subtitle: We build some of the best homes in the North Okanagan. <a href="#">Learn More</a>.
bg: /images/bg1.jpg
---

<div class="container">
  <h2>#1 builder in the North Okanagan</h2>
  <a hred="#" class="btn primary">Find out how we do it</a>
</div>

<div class="cta-section">
  <div class="container">
    <h2>Show homes</h2>
  </div>
</div>

<div class="container">
  <h2>Get in touch</h2>
</div>
