---
title: Highridge|About Highridge
headline: <strong>About</strong> Highridge
subhead: Let our industry experience work for you!
bg: herollax5
---

<div class="container">
  <div class="team-content">
    <div class="section-left">
      <h2>We're here to <br>serve you</h2>
      <p>Our fearless and dedicated leaders, Mark & Ron, have been working in Real Estate, Development and Construction for over 25 years. Together they create a dynamic team, and are devoted to providing their clients with the highest level of service. The relationships they have forged with local suppliers and tradespeople is a valuable asset to help you navigate during the home building process. Contact us today and experience the friendly, hometown service you’ve come to expect from HighRidge Homes.
      </p>
      <strong>Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consultation.</strong>
    </div>
    <div class="testimonial-right">
      <p>The team at Highridge Homes provided excellent service during the entire process allowing us to feel stress free at all times. We felt great comfort and contentment in the team’s services and valued all the support we experienced through the whole build.
      </p>
    </div>
  </div>
  <div class="clearfix"></div><br><br><br>

  <%= partial "partials/team_member_list" %>
</div>

<%= partial "partials/layouts/cta_see" %>

